.App {
  min-height: 100vh;
  min-width: 100vh;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #282c34;
}

/** prevent dragging of images but still allow events like onMouseDown to go through */
img {
  user-select: none;
}