* {
  box-sizing: border-box;
}

.cell {
  min-width: 100px;
  min-height: 100px;
  border: 1px solid black;
  display: inline-block;
}

.cell-dark {
    background-color: #b58863;
}

.cell-light {
    background-color: #f0d9b5;
}

.cell-active.cell-light {
    background-color: #f0c5b5;
}

.cell-active.cell-dark {
  background-color: #cd8a6d;
}

.rank {
  display: flex;
  flex-direction: row;
}

.board {
  background-color: #f0f0f0;
  margin: 30px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.piece {
  display: inline;
  position: absolute;
  min-width: 100px;
  min-height: 100px;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
}
